* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.oncenter {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutme {
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url(../src/background.jpg);
  background-size: cover;
}

.abm {
  display: flex;
  border-radius: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 600;
  color: rgb(249, 160, 175);
}

.text {
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .abm {
    display: flex;
    border-radius: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 600;
    color: rgb(249, 160, 175);
  }
  .text {
    justify-content: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
